
@{
    ViewBag.Title = "Index";
}



@{
    <h3>Name     &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; :  @ViewData["Name"] </h3> 
    <h3>Id      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; :  @ViewData["Id"] </h3>
    <h3>Email   &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; :  @ViewData["Email"] </h3>
    <h3>Contact No. :  @ViewData["PhoneNumber"] </h3>
}
